* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Calibri', 'Helvatica', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

#grey-background {
    background-color: #c3c3c3;
}

/* Header CSS */

header {
    background-color: #10164A;
    max-width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 42px;
}

.par-knapper { /* Knapperne skal være lige for hinanden */
    display: flex;
    gap: 42px;
    width: 25%;
}

.menu-knap {
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.knapper-right {
    justify-content: flex-end;
}

#logo-header {
    display: flex;
    justify-content: center;
}

/* Hero CSS */

