* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Calibri', 'Helvatica', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

/* Header CSS */

header {
    background-color: #10164A;
    max-width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.par-knapper { /* Knapperne skal være lige for hinanden */
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 42px;
    padding-left: 42px;
    padding-right: 42px;
}

#logo-header { /* Nemmere måde at centrerer billedet? */
    padding-top: 17px;
    padding-bottom: 17px;
}

.menu-knap {
    color: white;
    font-size: 24px;
}

/* Hero CSS */

.hero {
    background-image: url("../img/20240905_104722.jpg");
    height: 566px;
    display: grid;
    color: white;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.image-overlay {
    display: grid;
    background-color: rgba(0, 0, 0, 0.8);
    grid-area: 1/1/5/6;
}

.text-hero {
    grid-area: 2/2/4/3;
}

.søgefelt {
    grid-area: 4/2/5/3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.søgefelt > i {
    font-size: 42px;
}

.søgefelt-hvid {
    max-width: 100%;
    height: 57px;
    background-color: white;
    border-radius: 45px;
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 10%
}
.grey {
    color: grey;
}

.søg-nu {
    background-color: #DBB630;
    color: black;
    border-radius: 45px;
    height: 57px;
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

/* Sektioner CSS */

#grey-background {
    background-color: #c3c3c3;
}

section {
    display: grid;
}

.programmer {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

