* {
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri, Arial, sans-serif;
}

body {
    background-color: #c3c3c3;
    font-weight: normal;
}

.mellem-margin {
    background-color: #c3c3c3;
    padding-left: 5%;
    padding-right: 5%;
}

main {
    background-color: #c3c3c3;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%
}

section {
    padding: 2% 0;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:visited figcaption {
    text-decoration: none;
}

figcaption {
    text-align: center;
    font-size: 28px;
    color: black;
    text-decoration: none;
}

address {
    font-style: normal;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

a:hover:not(menu a):not(.menu-knap) {
    box-shadow: 0 0 0 2px black;
}

menu a:hover {
    text-decoration: underline;
}

.divider {
    padding: 40px 0;
}

.divider-small {
    padding: 15px 0;
}

.stor-cta-knap {
    background-color: #DBB630;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 20px;
    color: black;
    width: fit-content;
}

.stor-cta-knap > p {
    font-size: 40px !important;   
    margin: 0;
}

.stor-cta-knap > i {
    font-size: 40px;    
}

.mellem-cta-knap {
    background-color: #DBB630;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: black;
}

.mellem-cta-knap.active {
    background-color: grey;
    color: black;
    box-shadow: 0 0 0 2px black;
}

.mellem-cta-knap > p {
    font-size: 32px !important;
    margin-bottom: 0 !important;    
}

.mellem-cta-knap > i {
    font-size: 32px;    
}

/* Header CSS */

.content-wrapper {
    padding-top: 100px; /* Same as header height */
}

header {
    position: fixed;
    background-color: #10164A;
    max-width: 100%;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 42px;
    top: 0;
    left: 0;
    width: 100%;
}

header p {
    margin: 0;
}

.par-knapper { /* Knapperne skal være lige for hinanden */
    display: flex;
    gap: 42px;
    width: 25%;
}

.menu-knap {
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.knapper-right {
    justify-content: flex-end;
}

#logo-header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Menu */
.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 996;
    pointer-events: none;
    transition: background-color 0.3s ease, pointer-events 0.3s ease;
}

.overlay.active {
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: all;
}

menu {
    display: none;
    position: fixed;
    top: 0; 
    left: 0;
    width: 20%;
    background-color: #10164A;
    color: white;
    padding: 8% 3% 3% 3%;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    visibility: hidden; /* Add this */
}

menu > a i {
    font-size: 48px;
    position: absolute;
    top: 7%;
    left: 14%;
    text-decoration: none;
}

menu a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

menu.active {
    display: block;
    visibility: visible; /* Menuen er synlig når den er aktiv */
    transform: translateY(0);
}

/* Når menuen er skjult, så alle elementer der før var fokuseret på, ikke længere bliver fokuseret gennem tab-funktionen */
menu:not(.active) a {
    display: none;
    visibility: hidden;
    pointer-events: none;
}

menu img {
    width: 113px;
    height: auto;
    margin-bottom: 7%;
}

.menu-liste {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.menu-liste li {
    margin: 10px 0;
}

.menu-liste a {
    color: white;
    text-decoration: none;
    font-size: 32px;
}

/* Hero CSS */

.hero {
    background-image: url("../img/20240905_104722.jpg");
    height: auto;
    width: 100%;
    display: flex;
    color: white;
    padding: 0 !important; /* Fjerner padding  som ellers skulle have været der pga. sections padding */
}

.image-overlay {
    display: flex;
    flex-direction: column;
    gap: 75px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 50px 5%;
}

.hero-overskrift > p {
    font-size: 32px;    
}

.hero-knapper {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.hero-knapper a:hover {
    box-shadow: white 0px 0px 0px 2px !important;
}

/* Programmer Sektion */

.programmer-sektion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.programmer-sektion.hidden {
    display: none;
}

.programmer-sektion h2 {
    margin-bottom: 1%;
}

.programmer-showcase {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    flex-wrap: wrap;
}

.negative-margin {
    margin-bottom: -5%;
}

.individuel-program img {
    aspect-ratio: 1/1;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    object-fit: contain;
    height: auto;
    width: 180px;
}

.individuel-program p {
    font-size: 24px;
    display: flex;
    justify-content: center;
    color: black;
}

.individuel-program {
    text-decoration: none;
    margin-bottom: 3%;
}

.individuel-program:hover {
    box-shadow: 0 0 0 2px black;    
}

/* Specialister Sektion */

.specialister-sektion h2 {
    margin-bottom: 1%;
}

.specialister-showcase {
    display: flex;
    justify-content: flex-start;
    gap: 3%;
    flex-wrap: wrap;
}

.individuel-specialist {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    border-radius: 32px;
    background-color: #D9D9D9;
    width: 300px;
    gap: 10px;
    padding: 35px;
    margin-bottom: 3%;
    justify-content: space-between;
}

.individuel-specialist h3 {
    text-align: center;
    margin-bottom: -5%;
}

.individuel-specialist p {
    font-size: 28px;
    margin-bottom: 10%;
    text-align: center
}

.medarbejder {
    border-radius: 1px;
    border: 2px solid black;
    aspect-ratio: 1/1; 
    background-color: white;
    border-radius: 100px;
    object-fit: cover;
    height: auto;
    width: 200px;
}

.programmer-for-specialister {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-bottom: 6%;
}



.individuel-program-mellem img {
    aspect-ratio: 1/1; 
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    object-fit: contain;
    height: auto;
    width: 100px;
    align-self: center;
}

.individuel-program-mellem p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: black;
}

.individuel-program-mellem {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5%;
}

/* Footer */

footer {
    background-color: #10164A;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 5%;
    color: white;
    position: absolute;
    left: 0;
    bottom: auto;
    margin-top: 3%;
    z-index: -1;
}

footer section {
    padding: 0;
}

footer p {
    font-size: 24px;
}

footer a {
    font-size: 24px;
    color: white;
    text-decoration: underline;
}

footer a:hover {
    color: #DBB630;
    border: none;
}

.logo-footer {
    width: 113px;
    height: auto;
}

.left-footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

address a {
    text-decoration: none;
}

/* --------------- ALLE PROGRAMMER / SPECIALISTER SIDE --------------- */

.manglende-programmer-sektion {
    margin-top: 3%;
    display: flex;
    justify-content: flex-start;
}

.mangler-du {
    background-color: #D9D9D9;
    border-radius: 35px;
    width: 50%;
    height: auto;
    padding: 3%;
    text-align: center;
}

.mangler-du p {
    font-size: 20px;
}

.genveje-hero {
    background-color: #D9D9D9;
    padding: 3% 5%; 
    display: flex;
    flex-direction: column;
}

.genveje-hero h2 {
    margin-bottom: 1%;
}

.filrering-knapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

.filrering-knapper a {
    width: 30%;
    margin-bottom: 1%;
}

/* --------------- PROGRAM / SPECIALIST SIDER --------------- */

/* 1. Alt - Program Hero */

.program-logo {
    aspect-ratio: 1/1;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    object-fit: contain;
    height: auto;
    width: 250px;
    text-decoration: none;
    margin-bottom: 3%;
}

.program-hero {
    background-color: #D9D9D9;
    width: 100%;
    height: 100%;
    padding: 3% 5%;
}

.billede-og-info {
    display: flex;
    gap: 5%;
}

.billede-og-info p {
    font-size: 24px;
}

.sektion-genveje {
    display: flex;
    gap: 3%;
}

#id-beskrivelse, #id-videoguides, #id-specialister {
    scroll-margin-top: 120px; /* For at undgå at overskriften er skjult bag header, eftersom headeren altid ville vises */
}

/* 2. Alt - Specialist Hero */

.stor-medarbejder {
    border: 2px solid black;
    aspect-ratio: 1/1; 
    background-color: white;
    border-radius: 175px;
    object-fit: cover;
    height: auto;
    width: 350px;
}

.specialist-hero {
    background-color: #D9D9D9;
    width: 100%;
    height: 100%;
    padding: 3% 5%;
}

/* Side Indhold */

.side-indhold {
    padding-top: 1%;
    display: flex;
    justify-content: space-between;
}

.side-indhold h2, h5 {
    font-weight: bold;
}

.side-indhold h2, h4, p {
    margin-bottom: 3%;
}

.side-indhold h5 {
    margin-bottom: 5%;
}

.side-indhold p {
    font-size: 24px;
}

.venstre-indhold {
    width: 200%;
    padding-right: 5%;
}

.video-showcase {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-bottom: 2%;
}

.video-guide {
    margin-bottom: 2%;
}

.individ-videoguide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    margin-bottom: 2%;
    border-radius: 20px;
    width: 448px;
    height: 252px; 
}

.text-left h3 {
    font-size: 24px;
}
/* Aside indhold */

aside {
    font-size: 20px !important;
}

aside article {
    display: flex;
    flex-direction: column;
    gap: 5%;
    background-color: #D9D9D9;
    padding: 7%;
    margin-bottom: 5%;
    border: 2px solid black;
}

li {
    font-size: 24px;
}

aside > article h4 {
    margin-bottom: 3%;
}

/* 2. Alt - Specialister Side Info */

.venstre-indhold-specialister {
    width: 130%;
    padding-right: 5%;
}

.guide-liste {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 3%;
}

.guide-liste ul {
    list-style: none;
    padding: 0;
}

.guide-liste li {
    margin-bottom: 1.5%;
}

.specialist-guide {
    border-radius: 10px;
    border: 2px solid black;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
}

.knap-og-logo img {
    aspect-ratio: 1/1;
    background-color: white;
    padding: 7px;
    border-radius: 20px;
    object-fit: contain;
    height: auto;
    width: 75px;
    text-decoration: none;
}

.knap-og-logo {
    display: flex;
    gap: 20px;
}

.gode-programmer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10%;
}

/* Specialister i program */

.hjælp-specialister {
    padding-bottom: 5%;
}

.hjælp-specialister h2 {
    margin-bottom: 1%;
}

.specifikke-specialister {
    display: flex;
    justify-content: flex-start;
    gap: 4%;
}

.mini-specialist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    text-align: center;
    background-color: #D9D9D9;
    padding: 2%;
    border-radius: 20px;
}

.mini-specialist p {
    font-size: 28px;;
}

/* Online kursus */

.online-kursus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    max-width: 75%;
    height: auto;
    padding: 2%;
    border-radius: 30px;
    border: 2px solid black;
    background: linear-gradient(to right, #D9D9D9 0%, #D9D9D9 45%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%),
                url('../img/left-ai.jpg') right center / cover no-repeat;
}

.kursus-info {
    display: flex;
    flex-direction: column;
}

.kursus-info p {
    font-size: 24px;
}

.kursus-info h4 {
    margin-bottom: 10%;
}

.kursus-programmer {
    display: flex;
    gap: 20px;
    margin-bottom: 10%;;
}

.kursuser {
    padding-bottom: 2%;
}

.kursuser h2 {
    margin-bottom: 1%;
}

/* Media query for smaller screens */
@media (max-width: 800px) {

    * {
        max-width: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main {
        margin: 4%;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }
    
    .stor-cta-knap > p {
        font-size: 32px !important;   
    }
    
    .mellem-cta-knap > p {
        font-size: 28px !important;   
    }

/* Header */

    header p {
        display: none;
    }

    header i {
        font-size: 40px;
    }

    header {
        padding: 0 24px;
    }

    .par-knapper {
        gap: 24px;
    }


/* Menu */
    menu {
        width: 100%;
        padding: 7% 5% 5% 5%;
        text-align: center;
    }

    menu > a i {
        position: absolute;
        top: 7%;
        left: 7%;
    }

    menu img {
        margin: 0 auto 7% auto;
        display: block;
    }

    .menu-liste {
        align-items: center;
        text-align: center;
    }

    .menu-liste li {
        width: 100%;
        text-align: center;
    }

/* Hero */

    .hero-overskrift p {
        font-size: 24px;
        margin-top: 2%;
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    .image-overlay {
        padding: 10%;
    }

/* Programmer */

    .programmer-sektion h2 {
        text-align: center;
        margin-bottom: 6%;
    }

    .programmer-showcase {
        justify-content: center;
        margin-bottom: 6%;
    }

    .negative-margin {
        margin-bottom: -10%;
    }

    .individuel-program img {
        width: 150px;
    }
    
    .individuel-program {
        text-decoration: none;
        margin-bottom: 3%;
    }

    .excel-nonmobile {
        display: none;
    }

    .genveje-hero {
        width: auto;
    }

    .filrering-knapper {
        flex-direction: column;
    }

    .filrering-knapper a {
        width: 100%;
        margin-bottom: 3%;
    }

    .programmer-sektion.hidden {
        display: none;
    }

    .manglende-programmer-sektion {
        margin-top: 10%;
        width: 100%;
        justify-content: center;
    }

    .mangler-du {
        width: 100%;
        padding: 5%;;
    }

/* Specialister */

    .specialister-sektion h2 {
        text-align: center;
        margin: 3% 0 8% 0;
    }

    .specialister-showcase {
        justify-content: center;
    }

    .individuel-specialist {
        margin-bottom: 10%;
    }

    .hidden {
        display: none;
    }

/* Footer */

    .left-footer {
        margin-top: 15%
    }

    footer {
        padding: 10%;
        padding-bottom: -1%;
    }

/* PROGRAM / SPECIALIST SIDE */

    .program-hero, .specialist-hero {
        padding: 8%;
    }

    .billede-og-info {
        flex-direction: column-reverse;
        margin-top: -5%;
    }

    .billede-og-info h1 {
        text-align: start;
    }

    .program-logo {
        width: 150px;
        margin-top: 3%;
    }

    .beskrivelse {
        margin-bottom: 5%;
    }

    .sektion-genveje {
        flex-direction: column;
    }

    .forced-margin {
        margin-bottom: 8%;
    }

    .side-indhold {
        flex-direction: column;
        width: 100%;
    }

    .side-indhold h2 {
       margin-bottom: 3%;
    }

    .videoguides {
        padding: 4%;
    }

    .individ-videoguide {
        align-items: flex-start;
    }

    iframe {
        aspect-ratio: 16/9;
        width: auto;
        height: auto; 
    }

    .specifikke-specialister {
        flex-direction: column;
        align-items: center;
    }

    .mini-specialist {
        width: 100%;
        padding: 10% 5%;
        margin-bottom: 8%;
    }

    .hjælp-specialister h2 {
        margin-bottom: 7%;;
    }

    .stor-medarbejder {
        width: 250px;
        margin: 5% 0;
    }

    .specialist-guide {
        padding: 3% 6%;
        flex-direction: column;
    }
    
    .text-left h3 {
        font-size: 24px;
    }

    .knap-og-logo {
        justify-content: flex-start;
        margin-top: 4%;        
    }

    .knap-og-logo a {
        margin-bottom: 0 !important;
    }

    .knap-og-logo img {
        width: 65px;
        height: 100%;
    }

    .specialist-guide {
        padding: 6%;
        margin-bottom: 5% !important;
    }

    .gode-programmer {
        margin-top: 10%;
        justify-content: space-evenly;
    }

    .online-kursus {
        max-width: 100%;
        padding: 5%;
        margin-bottom: 10%;
        background: linear-gradient(to bottom, #D9D9D9 0%, #D9D9D9 68%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%),
                    url('../img/bottom-3.jpg') center bottom / cover no-repeat;
    }

    .kursus-info {
        margin-bottom: 70%;
    }

    .venstre-indhold, .venstre-indhold-specialister {
        padding-right: 0;
    }

}